@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
    background-color: #B533FF;
    color: #3389FF;
    font-family: 'Brush Script MT', cursive;
    padding: 0;
    margin: 0;
}

section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 150vh;
}

a {
    text-decoration: none;
    color: #2d527b;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 5s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}
